include README.md
include LICENSE
include pesptool/targets/stub_flasher/1/*
include pesptool/targets/stub_flasher/2/*
include espefuse/efuse_defs/*.yaml
# sdist includes test/test*.py by default, but pesptool tests
# are so far only intended to run from the git repo itself
prune test
prune .github
prune docs
exclude .git*
